---
import MainLayout from "../../../layouts/MainLayout.astro";
import PostCard from "../../../components/PostCard.astro";
import Pagination from "../../../components/Pagination.astro";
import {siteConfig} from "../../../config";
import {getCollection} from 'astro:content';
import {getAllTags, filterPostsByTag} from "../../../utils/tags";
import {getTitle} from "../../../utils";
import type {CollectionEntry} from 'astro:content';
import type {Page} from "astro";

export async function getStaticPaths({paginate}) {
    const posts = await getCollection('posts', ({data}) => {
        return import.meta.env.PROD ? data.isDraft !== true : true
    });
    const {tags} = getAllTags(posts);
    return tags.flatMap(tag => {
        const tagPosts = filterPostsByTag(posts, tag);
        return paginate(tagPosts, {
            pageSize: siteConfig.page_size,
            params: {tag},
            props: {tag},
        });
    });
}

interface Props {
    page: Page<CollectionEntry<'posts'>>
    tag: string;
}

const {page, tag} = Astro.props;
---

<MainLayout title={getTitle(`Tag: ${tag}`)} description={`Posts tagged with "${tag}"`}>
    <div class="grow flex flex-col gap-2">
        <div class='flex justify-between items-baseline p-1'>
            <h1 class="text-2xl font-bold">#{tag}</h1>
            <a href="/tags" class="text-secondary hover:text-primary transition-colors">
                ← All Tags
            </a>
        </div>

        <ul class="space-y-4">
            {page.data.map(post => (
                    <PostCard post={post}/>
            ))}
        </ul>

        <Pagination
                class="mt-2 w-fit ml-auto"
                page={page}
                getUrl={(p) => p === 1 ? `/tags/${tag}` : `/tags/${tag}/${p}`}
        />
    </div>
</MainLayout>
