---
import PageLayout from "../layouts/PageLayout.astro";
import {getDesc, getTitle} from "../utils";
import {getCollection} from "astro:content";

const links = await getCollection("links");
const data = links.map(({data}) => data).sort(() => Math.random() - 0.5);
---
<PageLayout comments={true} title={getTitle('Links')} description={getDesc('The Links Page')}>
    <ul data-pagefind-body class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4">
        {data.map(({title, description, url, avatar}) => (
                <li>
                    <a href={url} target="_blank" class="flex h-24 card p-2">
                        <img src={avatar} alt={title} class="w-20 rounded-full shrink-0"/>
                        <div class="ml-4">
                            <h2 class="font-bold text-xl line-clamp-1">{title}</h2>
                            <p class="line-clamp-2">{description}</p>
                        </div>
                    </a>
                </li>
        ))}
    </ul>
</PageLayout>
