---
import {siteConfig, navBarConfig} from "../config";
import {Icon} from 'astro-icon/components'
---

<header class="fixed h-16 w-full blur-global">
    <div class="container-global h-full flex items-center">
        <div class="text-xl font-bold cursor-pointer">
            <a href="/">{siteConfig.title}</a>
        </div>

        <nav class="ml-auto max-sm:hidden">
            {
                navBarConfig.links.map((link) => {
                    return (
                            <a class="ml-8 hover:text-secondary transition-all" href={link.url}
                               target={link.target}>{link.name}</a>
                    )
                })
            }
        </nav>
        <div class="ml-auto hidden max-sm:flex icon-button cursor-pointer relative group">
            <Icon class="w-6 h-6 m-auto" name="material-symbols:menu-rounded"/>
            <nav class="absolute top-8 -left-full rounded-xl shadow-xl bg-base hidden group-hover:block animate-in fade-in">
                {
                    navBarConfig.links.map((link) => {
                        return (
                                <a class="flex items-center pl-2 py-2 first:rounded-t-xl last:rounded-b-xl hover:bg-hover transition-all"
                                   href={link.url}
                                   target={link.target}>
                                    {link.name}
                                    <Icon class="w-6 h-6 ml-auto" name="material-symbols:chevron-right-rounded"/>
                                </a>
                        )
                    })
                }
            </nav>
        </div>
        <button id="theme" class="ml-8 max-sm:ml-4 icon-button"></button>
    </div>
</header>

<script is:inline>
    const light = '<svg class="block w-6 h-6 m-auto" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 15q1.25 0 2.125-.875T15 12t-.875-2.125T12 9t-2.125.875T9 12t.875 2.125T12 15m0 2q-2.075 0-3.537-1.463T7 12t1.463-3.537T12 7t3.538 1.463T17 12t-1.463 3.538T12 17M2 13q-.425 0-.712-.288T1 12t.288-.712T2 11h2q.425 0 .713.288T5 12t-.288.713T4 13zm18 0q-.425 0-.712-.288T19 12t.288-.712T20 11h2q.425 0 .713.288T23 12t-.288.713T22 13zm-8-8q-.425 0-.712-.288T11 4V2q0-.425.288-.712T12 1t.713.288T13 2v2q0 .425-.288.713T12 5m0 18q-.425 0-.712-.288T11 22v-2q0-.425.288-.712T12 19t.713.288T13 20v2q0 .425-.288.713T12 23M5.65 7.05L4.575 6q-.3-.275-.288-.7t.288-.725q.3-.3.725-.3t.7.3L7.05 5.65q.275.3.275.7t-.275.7t-.687.288t-.713-.288M18 19.425l-1.05-1.075q-.275-.3-.275-.712t.275-.688q.275-.3.688-.287t.712.287L19.425 18q.3.275.288.7t-.288.725q-.3.3-.725.3t-.7-.3M16.95 7.05q-.3-.275-.288-.687t.288-.713L18 4.575q.275-.3.7-.288t.725.288q.3.3.3.725t-.3.7L18.35 7.05q-.3.275-.7.275t-.7-.275M4.575 19.425q-.3-.3-.3-.725t.3-.7l1.075-1.05q.3-.275.712-.275t.688.275q.3.275.288.688t-.288.712L6 19.425q-.275.3-.7.288t-.725-.288M12 12"/></svg>'
    const dark = '<svg class="block w-6 h-6 m-auto" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M12 21q-3.775 0-6.387-2.613T3 12q0-3.45 2.25-5.988T11 3.05q.325-.05.575.088t.4.362t.163.525t-.188.575q-.425.65-.638 1.375T11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q.775 0 1.538-.225t1.362-.625q.275-.175.563-.162t.512.137q.25.125.388.375t.087.6q-.35 3.45-2.937 5.725T12 21m0-2q2.2 0 3.95-1.213t2.55-3.162q-.5.125-1 .2t-1 .075q-3.075 0-5.238-2.163T9.1 7.5q0-.5.075-1t.2-1q-1.95.8-3.163 2.55T5 12q0 2.9 2.05 4.95T12 19m-.25-6.75"/></svg>'

    const switchTheme = (theme) => {
        theme === 'light' ? document.documentElement.classList.replace('dark', 'light') : document.documentElement.classList.replace('light', 'dark')
    }

    const themeButton = document.getElementById("theme");
    theme === 'light' ? themeButton.innerHTML = light : themeButton.innerHTML = dark

    themeButton.addEventListener("click", () => {
        if (theme === "light") {
            switchTheme("dark")
            themeButton.innerHTML = dark
            theme = "dark";
        } else {
            switchTheme("light")
            themeButton.innerHTML = light
            theme = "light";
        }
        localStorage.setItem("theme", theme);
    });
</script>