---
import BaseLayout from "./BaseLayout.astro";
import {siteConfig} from "../config";
import Comment from "../components/Comment.astro";

interface Props {
    title?: string;
    description?: string;
    image?: string;
    ogType?: string;
    pubDate?: Date;
    lastModified?: string;

    comments?: boolean;
}

const {title, description, image, ogType, pubDate, lastModified, comments} = Astro.props
---
<BaseLayout title={title} description={description} image={image} ogType={ogType} pubDate={pubDate} lastModified={lastModified}>
    <Fragment slot="head">
        <slot name="head"/>
    </Fragment>
    <main class="mt-20 mb-4">
        <div class="container-global">
            <slot/>

            {
                comments && siteConfig.twikoo_uri &&
                    <Comment/>
            }
        </div>
    </main>
</BaseLayout>


